<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap10="http://schemas.microsoft.com/appx/manifest/uap/windows10/10"
	IgnorableNamespaces="uap uap10">

  <Identity
    Name="UWPHostedApp"
    Publisher="CN=UWPHostedApp"
    Version="1.0.1.0" />

  <!--<mp:PhoneIdentity PhoneProductId="e8eb1e96-c47c-43a4-9638-e477fa02f6c9" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>-->

  <Properties>
    <DisplayName>UWPHostedApp</DisplayName>
    <PublisherDisplayName>UWPHostedApps</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
    <uap10:HostRuntimeDependency Name="UWPToastHost" Publisher="CN=TestHost" MinVersion="1.0.0.0"/>
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="HostedApp" uap10:HostId="UWPToastHost">
      <uap:VisualElements
        DisplayName="UWPHostedApp"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="UWPHostedApp"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>