<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap10="http://schemas.microsoft.com/appx/manifest/uap/windows10/10"
  IgnorableNamespaces="uap uap10">

  <Identity
    Name="UWPToastHost"
    Publisher="CN=TestHost"
    Version="1.0.0.0" />

  <Properties>
    <DisplayName>ToastHost</DisplayName>
    <PublisherDisplayName>adambr</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="ToastHost.App">
      <uap:VisualElements
        DisplayName="ToastHost"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="ToastHost"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
  <Extensions>
    <uap10:Extension Category="windows.hostRuntime"
          Executable="ToastHost.exe" EntryPoint="ToastHost.App"
          uap10:RuntimeBehavior="windowsApp"
          uap10:TrustLevel="appContainer">
      <uap10:HostRuntime Id="UWPToastHost"/>
    </uap10:Extension>
  </Extensions>
</Package>